############################################
# Vim
############################################
*.swp

############################################
# compiled python files
############################################
*.pyc

############################################
# Database
############################################
db.sqlite3

############################################
# Pycharm
############################################
.idea

############################################
# Virtual environments
############################################
venv/*

############################################
# JavaScript
############################################
recruiting_project/frontend/static/frontend/build
.buildcache
.npmcache
node_modules/
package-lock.json
